{% extends "pages/page.html" %}

{% load mezzanine_tags %}

<!--{% load i18n mezzanine_tags disqus_tags %}
{% load tags %} -->

{% block page_header %}
{% include "pages/socialmedia.html" %}
<p class='article_title'>{% editable page.title %}{{ page.title }}{% endeditable %}
</p>
{% endblock %}
{% block main %}{{ block.super }}

{% for richtextdata in page.richtextpage.richtextdata_set.all %}
    <p class="article_header">{{ richtextdata.header }}</p>
    <img class="article_img" src="{{ richtextdata.main_image }}"</img>
{% endfor %}

{% editable page.richtextpage.content %}
{{ page.richtextpage.content|richtext_filter|safe }}
{% endeditable %}

{% include "pages/socialmedia.html" %}
{% include "pages/facebook_comments.html" %}
<!-- {% include "pages/disqus.html" %} -->
{% endblock %}
