{% load pages_tags mezzanine_tags i18n %}
<html>
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <!--
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" /> 
    <meta name="description" content="{% block meta_description %}{% endblock %}" /> 
    -->
    <meta name="keywords" content="kadın, kadınlar, bebek, aşk, cinsellik, güzellik, moda, yaşam, diyet, fitness, cilt sorunları" /> 
    <meta name="description" content="Kadınlara özel ve kadınca konular: Diyet, zayıflama, cinsellik, astroloji ve moda Mahmure.com'da." /> 
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    {% if "mezzanine.blog"|is_installed %}
    <link rel="alternate" type="application/rss+xml" title="RSS" 
        href="{% url blog_post_feed "rss" %}" />
    <link rel="alternate" type="application/atom+xml" title="Atom"  
        href="{% url blog_post_feed "atom" %}" />
    {% endif %}

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/featured.css" type="text/css" />
    <script type="text/javascript" src="{{ settings.CONTENT_MEDIA_URL }}/js/jquery-1.4.4.min.js"></script> 
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-ui-1.5.3.min.js"></script> 
    <script language="javascript">
    $(document).ready(function(){  
        $("#featured > ul").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);  
    });  
</script>
    
    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}{% endblock %}">
    <div class="container_12 bodyContainer">
{% if settings.SITE_TITLE or settings.SITE_TAGLINE %}
<div id="grid-top-links">
</div>
<div id="grid-header">
    <p class='title'><b class='titlebold'>istan</b>bella</p>
    {% if user.is_authenticated %}
        <a href='/logout.html' style="float:right;">logout</a>
    {% endif %}
    {% if settings.SITE_TAGLINE %}
    <h2>{{ settings.SITE_TAGLINE }}</h2>
    {% endif %}
</div>
<div id="separator">
</div>
{% endif %}

<div id="grid-top">
    {% page_menu "pages/menus/primary.html" %}
</div>

<div class="container_12 content_container clearfix">

    <div id="grid-middle" class="grid_12 grid">
        {% if on_home %}
        <div class="home_container">
        {% else %}
        <div class="gutter">
        {% endif %}
            {% block page_header %}{% endblock %}
            <!--
            <div id="breadcrumb-menu">
                {% block breadcrumb_menu %}
                    {% page_menu "pages/menus/breadcrumb.html" %}
                {% endblock %}
            </div>
            -->
            {% block main %}{% endblock %}
        </div>
    </div>

    <!--
    <div id="grid-right" class="grid_3 grid">
        {% include "includes/search.html" %}
        {% block right_panel %}
            {% if "mezzanine.twitter"|is_installed %}
            {% include "twitter/tweets.html" %}
            {% endif %}
        {% endblock %}
        <p class="mezzanine">
            {% trans "Powered by" %} 
            <a href="http://mezzanine.jupo.org">Mezzanine</a><br />
            <a href="{% url set_device "mobile" %}?next={{ request.path }}">
                {% trans "View Mobile Site." %}
            </a>
        </p>
    </div>
    -->

</div>

<div id="grid-bottom">
    <div class="container_12 clearfix">
        <div class="grid_3">&nbsp;</div>
        <div class="grid_6 push_3 grid">
            {% page_menu "pages/menus/footer.html" %}
        </div>
    </div>
</div>
</div>
{% include "includes/footer_scripts.html" %}

</body>
</html>

