
/* 960 Grid */
.grid {padding:30px 0;}
.bodyContainer {
    margin: auto;
    width: 960px;
}

.content_container {
    margin: 0;
    width: 100%;
}

#grid-top-links {
    border-bottom: 1px dotted #CCC;
    text-align:center;
    background:#fff;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
}

#grid-header {
    background:#fff;
    padding-left:20px;
    padding:0;
    margin:0 20px;
}

#grid-header a{
    text-decoration: none;
}

#grid-header h1 {color:#000; font-size:400%; border:0;
    margin:0;}

#separator {
    background: url(http://cdn.sheknows.com/redesign/header.png) bottom center no-repeat;
    background-image: url(http://cdn.sheknows.com/redesign/header.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-position-x: 50%;
    background-position-y: 100%;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-bottom: 3px;
    margin-bottom: 5px;
    margin-top: -5px;
}

#grid-header h2 {
    color:#666;
    font-size:120%;
    font-weight:normal;
    margin-top:0;
    margin-left:5px;
}

#grid-header p {
    line-height: 100%;
}

#grid-top {background:#C13D55; border-bottom:1px solid #999;
    text-align:center; padding:0;}
#grid-top li {display:inline-block;
    border-right:1px solid #999; padding:5px 5px;}
#grid-top .first {border-left:1px solid #999;}

.first {
    margin: 0;
    padding: 0;
}
#grid-top .active {
    background:#eee;
    color:black;
}

#grid-top :hover {
    background:#eee;
    color:black;
}

body {
    background:#E7E9ED;
}

.title {
    font-size: 50px;
    margin: 5px;
}

.titlebold {
    color: #C13D55;
}
.article_img {
    height: 400px;
    width: 600px;
}

.article_header {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 0px 0px 0px;
    color: #474747;
    font-family: Georgia, serif;
    font-style: italic;
}

.article_title {
    font-family: 'Open Sans Light';
    color: #212121;
    font-size: 50px;
    line-height: 46px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.article_summary {
    border-style: solid;
    border-width: 1px;
    height: 150px;
    margin-bottom: 10px;
}

.container_12 {background:#fff;}
#grid-middle {
    background:#fff;
    min-height:100%;
    width:100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
#grid-middle img {max-width:400px;}
.gutter {
    padding:0 30px;
    width: 583px;
    border-right: 1px solid #CCC;
}
#grid-left {font-size:130%;}
#grid-left li {display:block; margin:5px 30px; line-height:100%;}
#grid-left ul ul li {list-style-type:disc; font-size:80%;}
#grid-middle ul {list-style:disc;}
#grid-middle ol {list-style:decimal;}
#grid-middle blockquote {border-left: 1px solid #333; margin-left: 30px;}
#grid-middle blockquote p {margin-left: 10px; line-height: 100%;}
#grid-right li {display:block; margin-top:3px;}
#grid-bottom {background:#666;}
#grid-bottom .container_12 {background:#555;}
#grid-bottom .grid {background:#444; border:1px solid #333; border-top:0;
    border-bottom:0;}
#grid-bottom ul {margin:0 30px;}
#grid-bottom ul ul {margin:0;}
#grid-bottom li {float:left;}
#grid-bottom li li {width:100px; clear:both; margin:5px; background:#555;
    border:1px solid #333; padding:5px 10px; border-right:0; border-bottom:0;}
#grid-bottom a {color:#eee; text-decoration:none;}

/* Elements */
* {
/*    font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Open Sans', 'Arial', sans-serif !important
    font-size: 12px;
}

h1 {font-size:250%; border-bottom:1px solid #ccc; font-weight:normal;}
h2 {font-size:150%;}
h3 {font-weight:normal; margin:20px 0 10px;}
h4 {font-weight:bold; margin-top:10px;}
h5 {font-weight:bold; margin-top:20px;}
h2, p, #breadcrumb-menu, #description, .paging, .share, #comments, .comment {
    margin:20px 0;}
a {
    color:0;
}

#grid-top a {
    color:#FFF;
}

#grid-top a:hover {
    color:#000;
}

.first {
    margin: 0;
    padding: 0;
}
table {margin-bottom:30px;}
td, th {padding:4px;}
p {line-height:150%;}
li {line-height:100%;}
pre, pre *, code, code * {font-family:monospace;}
pre {padding:15px;}

/* Navigation */
#breadcrumb-menu li {list-style-type:none; display:inline; margin-left:0px;}
.paging {border-top:1px solid #ccc;}
.paging li {padding:0 5px; margin:0 !important;}
.paging * {display:inline;}

/* Comments */
#comments li {padding:5px; display:block; border-bottom:1px solid #ddd;}
#comments li ul {padding:5px 0 0 30px;}
#comments img {margin-right:5px; vertical-align:middle;}
.comment {background:#eee;}
.comment th, .comment td {text-align:left; vertical-align:top; padding:5px 10px;}
.comment .button {margin-right:0px !important;}
.author {background:#fafbd2;}
.comment-unapproved, .comment-removed {text-decoration:line-through;}
.comment-unapproved {color:#060;}
.comment-removed {color:#f00;}
ul .comment {display:none;}
ul .posted {display:block !important;}
.comment .errorlist li {color:#f00; float:left; width:100%; padding:0 !important;}

/* Tags */
.tags ul, .tags li {display:inline !important; margin:0 !important;}
.tag-weight-1 {font-size:80%;}
.tag-weight-2 {font-size:120%;}
.tag-weight-3 {font-size:160%;}
.tag-weight-4 {font-size:200%;}
.cloud li {white-space:nowrap;}

/* Tweets */
.tweets li {font-size:70%; clear:both; margin-bottom:10px; line-height:130%;}
.tweets img {float:left; border:1px solid #000; margin:0 5px 5px 0;
    width:32px; height:32px;}
.tweets .timespan {font-style:italic; color: #666;}
.tweets .name {color: #666;}
.recycle {font-size:150%;}
.retweet  {float:none; margin-bottom:-5px; width:16px; height:16px;}
.since {display:block; margin-bottom:20px;}

/* Forms */
.form {background:#eee; border-bottom:1px solid #ccc; float:left; width:100%;}
.form li {display:block; padding:5px 10px;}
.form li ul, .form li li {display:inline;}
.form li label {width:30%; float:left;}
.form li li label {width:auto; float:none; cursor:pointer;}
.button {cursor:pointer;}
.help {font-size:60%; margin:0;}
input, textarea {border:1px solid #999;}
textarea {width:100%;}
.button {float:right; padding:10px; margin:10px;}

/* Ratings */
.rating {margin-top:20px; text-align:center;}
.rating p {margin:0;}
.rating ul, .rating li {display:inline;}
.rating li, .rating label {cursor:pointer;}
.rating label {display:none;}
.rating li label {display:inline;}
.rating .button {padding:5px 10px; float:none;}

/* Misc */
.share {background:#eee; padding:5px;}
.mezzanine {font-size:80%;}
#search .button {margin:0; padding:1px 5px; float:none;}
#search-results p {margin:5px 0;}
.tagline {font-style:italic; font-size:130%;}

/* Social Media Div */
.social_top {
    border-bottom: 1px solid #E6E6E6;
    border-top: 2px solid #E6E6E6;
    padding: 5px 10px;
    margin-top: 20px;
}

.social_top_clear {
    visibility:hidden;
}

.social_top * {
    float: left;
}

/* Home */
.topic_display {
    width: 300px !important;
    margin-right: 8px !important;
    margin-left: 8px !important;
	border:2px solid #eee;
}
.topic_display h2{
    height: 40px;
    background: white; 
    color: white;
    line-height: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.topic_display a{
    color: gray;
    font-weight: normal;
    text-decoration:none;
    margin-left:10px;
}

.topic_display :hover{
    text-decoration:none;
}

.topic_display img {
    width: 300px;
    height: 180;
}

.topic_display h3 {
    font-size: 18px;
}

.home_container .grid_4 {
    margin: 20px 9px;
}

.top_article_summary {
    font-size: 15px;
}

.article_display {
    border-top: 1px dotted gray;
    margin: 0px;
    padding: 0px;
}

.displaypages {
border-top: 3px solid #555;
float: left;
margin-top: 15px;
padding-top: 5px;
width: 623px;
}

.displaypage {
border-bottom: 1px solid #EAEBEB;
padding: 16px 0;
}

.displaypage a{
    text-decoration:none;
    font-weight: bold;
}

.displaypage a:hover {
    text-decoration:underline;
    font-weight: bold;
}

.displaypage p {
    margin: 10px 0;
    line-height: 100%;
}

.displaypage img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
    height: 50px;
    width: 80px;
}

.article_display p {
    margin: 10px 0;
    color: #0086DF;
}

/* Helper */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
